/* body {
	background-color: peachpuff;
	margin: 0;
}

.nav-wrapper {
	display: flow-root;
	background-color: gray;
	padding-right: 20px
}

.left-brand-logo {
	float: left;
	font-size: 35px;
	color: white
}

.right {
	float: right;
}

li, a {
	list-style: none;
	text-decoration: none;
	display: inline;
} */
